@import "../node_modules/bootstrap/scss/functions";


$primary:#aa00b6;
$secondary:#71ddff;
$success:#00ff89;

$enable-negative-margins:true;

$form-feedback-invalid-color: #ff9a00;

@import "../node_modules/bootstrap/scss/variables";

$position-values:map-merge($position-values,
    (auto:auto,
    ));



@import "../node_modules/bootstrap/scss/utilities";

@import "../node_modules/bootstrap/scss/bootstrap.scss";